<launch>
    <!-- 使用rosrun运行shell脚本 -->
    <node name="z1_ctrl" pkg="z1_ros" type="start_z1_ctrl.sh" output="screen" required="true"/>

    <!-- 启动ROS节点 -->
    <node name="test_eye_to_hand_calibration_node" pkg="z1_ros" type="test_eye_to_hand_calibration" output="screen" required="true"/>
</launch>
